{{define "footer"}}
        <footer class="footer">
            <div class="content has-text-centered">
            <p>
                <span class="icon-text">
                    <span>gostatic</span>
                </span>
                /
                Powered by <a href="https://bulma.io/">Bulma</a>
                /
                <a href="page/impressum.html">Impressum</a>
            </p>
            </div>
        </footer>
{{end}}
